* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#app {
  min-height: 100vh;
  background: #141414;
  color: #a3a3a3;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #2b2b2b;
}

*::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: red;
  font-family: 'Oswald', sans-serif;
}

.search {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.search * {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #2b2b2b;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.icon {
  font-size: 50px;
}

.results-container {
  display: flex;
  flex-wrap: nowrap;
}

.film, .tv {
  padding: 6px;
  margin: 10px 20px;
  border-radius: 5px;
  background: #2b2b2b;
  display: flex;
  flex-direction: column;
  position: relative;
}

.result-image {
  width: 220px;
  height: 330px;
  /* position: relative; */
}

.result-info {
  color: #cecece;
  position: absolute;
  padding: 5px;
  width: 220px;
  height: 330px;
  display: none;
  overflow-y: auto;
  background: rgba(20, 20, 20, 0.9)
}

.result-info::-webkit-scrollbar {
  width: 5px;
}

.active {
  display: block;
}

.data-title {
  font-weight: 300;
  font-size: 13px;
}

.data-text {
  font-size: 14px;
}

.result-language {
  display: inline-block;
}

.result-language img {
  vertical-align: middle;
}
