* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#app {
  min-height: 100vh;
  background: #141414;
  color: #a3a3a3;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2b2b2b;
}

* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

* ::-webkit-scrollbar-track {
  background: #2b2b2b;
}

* ::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 5px 40px;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  color: red;
  font-family: 'Oswald', sans-serif;
}

.search {
  display: flex;
}

.search input {
  width: 400px;
}

.search button {
  cursor: pointer;
  font-weight: 600;
}

.search button:hover {
  transform: scale(1.1);
}

.search > * {
  margin: 10px;
}

.search * {
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #2b2b2b;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
}

.icon {
  font-size: 50px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-left: 10px;
  position: absolute;
}

.results-container {
  margin: 30px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.movie, .tv {
  padding: 5px;
  margin: 40px 5px 5px 10px;
  border-radius: 5px;
  background: #2b2b2b;
  display: flex;
  flex-direction: column;
  position: relative;
}

.result-image {
  width: 250px;
  height: 375px;
  position: relative;
}

.title-no-image {
  position: absolute;
  width: 250px;
  text-align: center;
  font-style: italic;
  padding: 20px 10px;
  color: #2b2b2b;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.result-info {
  color: #cecece;
  position: absolute;
  padding: 5px;
  width: 250px;
  height: 375px;
  display: none;
  overflow-y: auto;
  background: rgba(20, 20, 20, 0.9)
}

.result-info::-webkit-scrollbar {
  width: 5px;
}

.active {
  display: block;
}

.data-title {
  font-weight: 700;
  font-size: 13px;
  color: #f4f4f4;
}

.data-text {
  font-size: 14px;
}

.result-language {
  display: inline-block;
}

.result-language img {
  vertical-align: middle;
}
