* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#app {
  min-height: 100vh;
  background: #141414;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: red;
}

.search {
  display: flex;
  justify-content: center;
}

.search * {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #2b2b2b;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.icon {
  font-size: 50px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
}

.film, .tv {
  width: 200px;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 5px;
  background: #2b2b2b;
  display: flex;
  flex-direction: column;
}

.result-image {
  margin-bottom: 10px;
  width: 180px;
  height: 265px;
  cursor: pointer;
}

.data-title {
  font-weight: 300;
  font-size: 14px;
}

.result-language {
  display: inline-block;
}

.result-language img {
  vertical-align: middle;
}
