<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>boolflix</title>
  </head>
  <body>
    <div id="app">

      <header>
        <div class="logo">BOOLFLIX</div>
        <div class="search">
          <input type="text" placeholder="Cerca un film..." v-model="searchInput" @keyup.enter="search">
          <button @click="search">Cerca</button>
        </div>
      </header>

      <main>

        <div class="results-container">
          <!-- *****FILM***** -->
          <div class="film" v-for="(film, index) in arrayFilm">
            <img class="result-image" :src="resultImg(film)" @mouseenter="showInfo(film, index)">
            <div class="result-info" @mouseleave="hideInfo(film, index)">
              <div>
                <span class="data-title">Titolo: </span>
                <span class="data-text  film-title">{{film.title}}</span>
              </div>
              <div>
                <span class="data-title">Titolo originale: </span>
                <span class="data-text">{{film.original_title}}</span>
              </div>
              <div>
                <span class="data-title">Lingua originale: </span>
                <span class="data-text">
                  <span v-if="film.original_language === 'xx'">unknown</span>
                  <div class="result-language"><img :src="getFlag(film)"></div>
                </span>
              </div>
              <div>
                <span class="data-title">Voto: </span>
                <span class="data-text">
                  <!-- tante stelle quanto il punteggio su base 5 -->
                  <i class="fa fa-star" aria-hidden="true" v-for="star in resultRating(film)"></i>
                  <span v-if="resultRating(film) === 0">0</span>
                </span>
              </div>
              <div>
                <span class="data-title">Overview: </span>
                <span class="data-text">{{film.overview}}</span>
              </div>
            </div>
          </div>
          <!-- *****SERIE TV***** -->
          <div class="tv" v-for="(tv, index) in arrayTV">
            <img class="result-image" :src="resultImg(tv)" @mouseover="showInfo(tv, index)">
            <div class="result-info">
              <div>
                <span class="data-title">Titolo: </span>
                <span class="data-text  film-title">{{tv.name}}</span>
              </div>
              <div>
                <span class="data-title">Titolo originale: </span>
                <span class="data-text">{{tv.original_name}}</span>
              </div>
              <div>
                <span class="data-title">Lingua originale: </span>
                <span class="data-text">
                  <span v-if="tv.original_language === 'xx'">unknown</span>
                  <div class="result-language"><img :src="getFlag(tv)"></div>
                </span>
              </div>
              <div>
                <span class="data-title">Voto: </span>
                <span class="data-text">
                  <!-- tante stelle quanto il punteggio su base 5 -->
                  <i class="fa fa-star" aria-hidden="true" v-for="star in resultRating(tv)"></i>
                  <span v-if="resultRating(tv) === 0">0</span>
                </span>
              </div>
              <div>
                <span class="data-title">Overview: </span>
                <span class="data-text">{{tv.overview}}</span>
              </div>
            </div>
          </div>

        </div>

        <div class="icon" v-if="arrayFilm.length > 0">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>

      </main>

    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
