<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>boolflix</title>
  </head>
  <body>
    <div id="app">

      <header>
        <div class="search">
          <input type="text" placeholder="Cerca un film..." v-model="searchInput">
          <button @click="searchFilm">Cerca</button>
        </div>
      </header>

      <div class="film-container">
        <div class="film" v-for="film in arrayFilm">
          <span>Titolo: {{film.title}}</span>
          <span>Titolo originale: {{film.original_title}}</span>
          <span>Lingua: {{film.original_language}}</span>
          <span>Voto: {{film.vote_average}}</span>
        </div>
      </div>

    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
